h1 {
    background-color: #ffffff;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    justify-content: space-around;
}

.flex-item {
    width: 40%;
    height: 100px;
    margin: 10px auto;
    background: red;
}

.pointer {
    cursor: pointer;
}
